<script setup lang="ts">
import { ref } from 'vue'
import { useTodoStore } from '@/stores/todoUtils'
import { mdiPencil, mdiDelete, mdiCheck, mdiCancel } from '@mdi/js'

export interface Props {
  name?: string
  done?: boolean
  readyToEditName?: boolean
}

withDefaults(defineProps<Props>(), {
  name: ''
})

const emit = defineEmits<{
  (e: 'remove-task'): void
  (e: 'make-done'): void
  (e: 'set-to-edit'): void
  (e: 'editTaskName', name: string): void
}>()

const store = useTodoStore()
const newName = ref('')
const valid = ref(false)

function emitEditionOfName() {
  emit('editTaskName', newName.value)
  newName.value = ''
}
</script>

<template>
  <v-form v-model="valid" @submit.prevent>
    <v-list-item>
      <template #prepend>
        <v-list-item-action class="mt-5">
          <v-checkbox
            :model-value="done"
            density="comfortable"
            @change="emit('make-done')"
          ></v-checkbox>
        </v-list-item-action>
      </template>

      <p v-if="!readyToEditName" :class="[done ? 'done' : 'undone']" class="ml-6">
        {{ name }}
      </p>

      <v-list-item-action v-else>
        <v-text-field
          v-model="newName"
          density="compact"
          :rules="store.rules"
          clearable
          variant="outlined"
          class="mt-5 mx-2"
        />

        <v-btn
          class="hidden-md-and-down"
          density="comfortable"
          :disabled="!valid"
          @click="emitEditionOfName"
          >Ok</v-btn
        >

        <v-btn
          class="hidden-lg-and-up"
          density="comfortable"
          :disabled="!valid"
          :icon="mdiCheck"
          @click="emitEditionOfName"
        ></v-btn>

        <v-btn class="hidden-md-and-down" density="comfortable" @click="emit('set-to-edit')">{{
          $t('Cancel')
        }}</v-btn>

        <v-btn
          class="hidden-lg-and-up"
          density="comfortable"
          :icon="mdiCancel"
          @click="emit('set-to-edit')"
        ></v-btn>
      </v-list-item-action>

      <template #append>
        <v-btn
          v-if="!readyToEditName"
          class="hidden-md-and-down"
          density="comfortable"
          @click="emit('set-to-edit')"
          >{{ $t('ChangeName') }}
        </v-btn>

        <v-btn
          v-if="!readyToEditName"
          class="hidden-lg-and-up"
          :icon="mdiPencil"
          density="comfortable"
          @click="emit('set-to-edit')"
        >
        </v-btn>

        <v-list-item-action>
          <v-btn
            density="comfortable"
            class="font-weight-bold"
            :icon="mdiDelete"
            @click="emit('remove-task')"
          >
          </v-btn>
        </v-list-item-action>
      </template>
    </v-list-item>
  </v-form>

  <v-divider></v-divider>
</template>

<style scoped>
.done {
  text-decoration: line-through;
}
.undone {
  text-decoration: none;
}
</style>
