<script setup lang="ts">
import Task from './SingleTask.vue'
import { useTodoStore } from '@/stores/todoUtils'
import { storeToRefs } from 'pinia'
import { computed } from 'vue'
import { mdiCheckboxMultipleMarkedCircle } from '@mdi/js'

const store = useTodoStore()
const { name, hideDoneTasks, todoList } = storeToRefs(store)
const filteredTodoList = computed(() => store.filteredTodoList)
const unexecutedTasksCounter = computed(() => store.unexecutedTasksCounter)
</script>

<template>
  <v-container>
    <v-row class="ma-4" justify="center">
      <h1 align="center">
        <v-icon size="large" :icon="mdiCheckboxMultipleMarkedCircle" class="mr-4"></v-icon>
        {{ $t('Todo') }}
      </h1>
    </v-row>

    <v-divider class="my-4"></v-divider>

    <v-sheet width="300" class="mx-auto">
      <v-form @submit.prevent>
        <v-text-field v-model="name" :label="$t('PlaceholderAdd')" :rules="store.rules" />

        <div class="d-flex flex-column">
          <v-btn
            v-if="name.length > 3"
            color="primary"
            variant="elevated"
            block
            @click="store.addTask"
          >
            {{ $t('Add') }}
          </v-btn>

          <v-btn
            v-if="todoList.length >= 2"
            color="secondary"
            class="mt-4"
            @click="store.sortTodoList"
          >
            Sort
          </v-btn>
        </div>
      </v-form>
    </v-sheet>

    <v-row justify="center">
      <v-col cols="12" lg="10">
        <v-list v-for="task in filteredTodoList" :key="task.id">
          <Task
            :name="task.name"
            :done="task.done"
            :ready-to-edit-name="task.readyToEditName"
            @remove-task="store.removeTask(task)"
            @make-done="store.updateDoneStatus(task)"
            @set-to-edit="store.setTaskToEdit(task)"
            @edit-task-name="(args) => store.editTaskName(args, task)"
          ></Task>
        </v-list>
      </v-col>
    </v-row>

    <v-divider></v-divider>

    <v-card>
      <v-checkbox
        v-model="hideDoneTasks"
        :label="hideDoneTasks ? $t('ShowAll') : $t('HideDone')"
        color="primary"
      />

      <v-card-action> {{ `${$t('TaskNumber')}: ${unexecutedTasksCounter}` }}</v-card-action>
    </v-card>
  </v-container>
</template>
